@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif


*
	margin: 0
	padding: 0

body
	background-color: pink

.head
	background-color: #2c3e50
	height: 45px
	 
.content
	margin: 0 auto
	position: relative
	width: 70%
.content
	h2
		font-family: 'RobotoRegular' 25px
		font-weight: 900
		text-transform: uppercase
		color: $green-color
		display: inline-block
		width: 135px
		padding: 3px 0 0 0
		height: 42px
		text-align: center
		background-color: white
	ul
		margin-left: 25%
		display: inline
	li
		display: inline;
		list-style-type: none
		margin: 0 0 0 40px	
	a
		text-decoration: none
		color: white
	a.button
		background-color: $green-color
		padding: 2px 8px 4px 8px
		border-radius: 15px
		margin-top: 7px
		float: right	
		width: 70px
		text-transform: uppercase
		font-weight: 600
		text-align: center

/*.slide
	background: url(../img/runner.jpg) no-repeat;
	background-position: center
	height: 420px
	background-size: cover;*/

.container
	width: 3300px
	height: 420px
	overflow: hidden
	margin: 0 auto

	.slider
		display: block
		width: 6500px
		height: 420px
		margin: 0
		padding:0
		
		.slider
			margin-left: -2300px
		
		.slide
			float: left
			width: 1300px
			height: 420px
			background: url(../img/runner.jpg) no-repeat;
			background-position: center
			background-size: cover
			
		.slide0
			

		.slide1
			background: url(../img/runner1.jpg) no-repeat;
			
		.slide2
			background: url(../img/runner2.jpg) no-repeat;

		.slide3
			background: url(../img/runner3.jpg) no-repeat;

		.slide4
			background: url(../img/runner4.jpg) no-repeat;